$borderColor1: gray;
$mainColor1: #fd8d8e;
.App {
  width: 100%;
  padding: 3rem 0.8rem 4rem 0.8rem;
  max-width: 740px;
  margin: auto;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  background: linear-gradient(#fd9b8c, #fd7986);
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px 2px rgba(168, 47, 61, 0.7);
  color: #ffffff;
  position: relative;
  h1 {
    font-family: "Bangers", cursive;
    padding: 1rem 0 0.5rem 0;
    text-align: center;
    font-size: 4rem;
  }

  .description {
    margin-top: 1rem;
    line-height: 1.2rem;
    text-align: center;
  }
  .select-section {
    label {
      padding-left: 0.5rem;
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.8);
    }
    .select__control {
      margin-top: 0.2rem;
      border-radius: 0;
      background: none;
      border: none;
      border-bottom: 2px solid #ffffff;
      box-shadow: 0 0 0 1px $mainColor1;
      &:hover {
        border-color: #ffffff;
      }
      .select__single-value {
        color: #ffffff;
      }
      .select__indicators {
        color: #ffffff;
        .select__indicator-separator {
          background: rgba(255, 255, 255, 0.5);
        }
        .select__indicator,
        .select__dropdown-indicator {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
    .select__menu {
      margin: 0;
      line-height: 1.5rem;
      font-size: 0.8rem;
      .select__menu-list {
        padding: 0;
        .select__option {
          color: $mainColor1;
          &.select__option--is-focused {
            background: rgba(253, 141, 142, 0.5);
            color: #ffffff;
          }
          &.select__option--is-selected {
            background: $mainColor1;
            color: #ffffff;
          }
        }
      }
    }
  }

  .camera-section {
    margin: 3rem 0 2rem 0;
    label {
      margin: auto;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 20px 40px 2px rgba(168, 47, 61, 0.4);
      &:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
      .material-icons {
        font-size: 2.2rem;
      }
    }
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 12px;
      border: 1px solid $borderColor1;
      display: none;
    }
  }

  .text-section {
    margin-top: 0.8rem;
    line-height: 0;
    border-radius: 0.2rem;
    box-shadow: 0 20px 40px 2px rgba(168, 47, 61, 0.7);
    overflow: hidden;

    .image {
      position: relative;
      border-bottom: 2px solid $mainColor1;
      .loading {
        position: absolute;
        color: $mainColor1;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.7);

        span {
          margin-bottom: 1rem;
        }
      }

      img {
        width: 100%;
      }
    }

    .text {
      textarea {
        padding: 12px;
        box-sizing: border-box;
        width: 100%;
        min-height: 150px;
        resize: vertical;
        font-size: 1rem;
        background: #ffffff;
        border: none;
        overflow-y: auto;
        border-radius: 0;
        &:focus {
          outline: none !important;

          border: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  .btns {
    margin-top: 3.5rem;
    display: flex;

    button {
      width: 100%;
      height: 40px;
      background: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 0.5rem;
      color: $mainColor1;
      font-weight: bold;

      & + button {
        margin-left: 0.5rem;
      }
      &:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  .use-way {
    margin-top: 3rem;
    padding: 0 1.2rem;

    h2 {
      font-size: 1.3rem;
      font-weight: bold;
    }

    span {
      color: rgba(255, 255, 255, 0.8);
      margin-top: 0.8rem;
      display: block;
      line-height: 1rem;
      font-size: 0.7rem;

      b {
        display: inline-block;
        margin-top: 0.4rem;
        font-weight: bold;
      }
    }
  }

  .ko {
    font-family: "Noto Sans KR", sans-serif;
  }
  .copyright {
    position: absolute;
    font-size: 0.7rem;
    bottom: 0.5rem;
    right: 1rem;
  }
}
